body{
    background-color: #303030;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    font-size: 40px;
    text-align: center;
    width: 430px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 170%;
}

.header > a > img{
    width: 70px;
    height: 70px;
    float: left;
}

.wraper{
    width: 100%;
    min-height: 600px;
}

#container{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    min-height: 400px;
}

.form{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
}

.spanSpacing{
    color: #303030;
    text-decoration: underline;
}

#comment{
    width: 800px;
    max-width: 800px;
    height: 200px;
}

#uploadPicture{
    background-color: #8c8c8c;
}

#sendButton{
    margin-left: 700px;
    width: 80px;
    background-color: #8c8c8c;
}

#sendButton:hover{
    cursor: pointer;
    background-color: #d1d1d1;
}

#age{
    background-color: #303030;
    border: none;
    color: white;
}

#dataOfBirth{
    width: 168px;
}

#stick{
    height: 50px;
    width: 150px;
    position: fixed;
    bottom: 0;
    left: 1170px;
}

#counter{
    font-size: 12px;
    margin-left: 570px;
}

/*tabela*/

#table1{
    margin-left: auto;
    margin-right: auto;
}

.desc{
    width: 174px;
}

td{
    border: solid #555555 1px;
}

.footer{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hreff{
    color: #ffffff;
    text-decoration: none;
}
.hreff:hover{
    color: #007F7F;
}
