body{
    background-color: #303030;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.wraper{
    width: 100%;
}

.header{
    font-size: 40px;
    text-align: center;
    width: 400px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 170%;
}

.header > a > img{
    width: 70px;
    height: 70px;
    float: left;
}

.menu{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

.numbersOfExercise {
    float: left;
    width: 200px;
    height: 200px;
    margin: 25px;
}
/**********zabawa z kafelkami**********/
.links{
    color: white;
    width: 0;
    height: 0;
    font-size: 0;
    float: left;
    margin: 4px;
    background-color: #136F41;

}

.links:hover{
    background-color: #41D88D;
}


#link4{
    width: 0;
    height: 0;
    font-size: 0;
    float: right;
}

#link5{
    width: 0;
    height: 0;
    font-size: 0;
    float: right;
}

#link6{
    width: 0;
    height: 0;
    font-size: 0;
    float: right;
}

#previousLinks{
    width: 0;
    height: 0;
    font-size: 0;
    float: right;
}
/**********zabawa z kafelkami**********/

.numbersOfExercise:hover > a > #lastLink{
    width: 192px;
    height: 168px;
    transition: all 0.5s;
}

.title{
    background-color: #303030;
    margin-bottom: 8px;
    margin-left: 4px;
}

.section{
    z-index: 3;
    width: 200px;
    height: 200px;
    background-color: #136F41;
    position: absolute;
    font-size: 30px;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0 0 50px #595959;
}

.numbersOfExercise:hover > .section{
    transition: all 0.5s;
    width: 0;
    height: 0;
    font-size: 0 !important;

}

.numbersOfExercise:hover > a > .links{
    width: 92px;
    height: 80px ;
    transition: all 1s;
    font-size: 20px;
}


.numbersOfExercise:hover > .section >.demo-icon:before{
    font-size: 0 !important;
}

.footer{
    text-align: center;
}

