body{
    background-color: #303030;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.header{
    font-size: 40px;
    text-align: center;
    width: 400px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 170%;
}

.header > a > img{
    height: 70px !important;
    width: 70px !important;
}

.container{
    width: 100%;
    background-color: #303030;
    width: 920px;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid white;
}

.menu{
    width: 100%;
    background-color: #136F41;
    text-align: center;
    border-top: 2px solid #12633a;
    border-bottom: 2px solid #12633a;
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 40px;
    line-height: 200%;
    display: inline-block;
}

ol a{
    color: white;
    text-decoration: none;
    display: block;
}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dotted #41D88D;
}

ol > li:first-child{
    border-left: 1px dotted #41D88D;
}

ol >li:hover{
    background-color: #41D88D;
}

ol >li:hover>a{
    color: #0b3d25;
}

#text > img{
    margin-top: 65px;
    margin-right: 50px;
    float: right;
    height:150px;
    width: 120px;
    border: solid;
}

.container > img{
    margin-top: 25px;
    margin-right: 50px;
    float: right;
    height:150px;
    width: 120px;
    border: solid;
}

h3{
    font-size: 18px;
    text-decoration: underline;
}

#footer{
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    height: auto;
    text-align: center;
}





