body{
    background-color: #303030;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    font-size: 40px;
    text-align: center;
    width: 430px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 170%;
}

.header > a > img{
    width: 70px;
    height: 70px;
    float: left;
}

.wraper{
    width: 100%;
    min-height: 600px;
}

#container{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    min-height: 400px;
}

#logout{
    text-decoration: none;
    font-size: 23px;
    color: white;
    position: absolute;
    right: 50px;
}

#logout:hover{
    color: #007F7F;
}

#logError{
    color: red;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#inData{
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    text-align: center;
    width: 360px;
}

#version{
    font-size: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#stick{
    height: 50px;
    width: 150px;
    position: fixed;
    bottom: 0;
    left: 1370px;
}

#source{
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: white;
}

#source > a{
    text-decoration: none;
    color: white;
}

#source > a:hover{
    color: #007F7F;
}