body {
    background-color: #303030;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    font-size: 40px;
    text-align: center;
    width: 430px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 170%;
}

.header > a > img {
    width: 70px;
    height: 70px;
    float: left;
}

.wraper {
    width: 100%;
    min-height: 600px;
}

#container {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    min-height: 400px;
}

#uploadInputs {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#fileList {
    border-spacing: 13px;
}

#fileList {
    margin-left: auto;
    margin-right: auto;
}

.fileName:hover {
    background-color: #585858;
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hreff {
    color: #ffffff;
    text-decoration: none;
}

.hreff:hover {
    color: #007F7F;
}

.fileHref {
    color: white;
    text-decoration: none;
}

.objectResult {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#inputField{
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

#complement{
    cursor: pointer;
}
