body {
    background-color: #303030;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    font-size: 40px;
    text-align: center;
    width: 430px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 170%;
}

.header > a > img {
    width: 70px;
    height: 70px;
    float: left;
}

#container {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    min-height: 400px;
}

.footer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hreff {
    color: #ffffff;
    text-decoration: none;
}

.hreff:hover {
    color: #007F7F;
}

#map{
    width: 700px;
    height: 500px;
    border: 1px solid black;
}

#input{
    margin-bottom: 40px;
}

#inputsDiv{
    margin-left: 20px;
    margin-right: 40px;
    float: left;
}

/*td{*/
    /*border: solid white 1px;*/
/*}*/

