
.icon-vcard:before { content: '\e800'; } /* '' */
.icon-table:before { content: '\e801'; } /* '' */
.icon-keyboard:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */